<html>
<head>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/foundation.min.css">
</head>
<body>
    <h1>Notes</h1>
    {{{ contents }}}
</body>
</html>